sudo: false
language: node_js
node_js:
  - stable
install:
  - npm install
notifications:
  email: false
services:
  - postgresql
before_script:
  - psql -c 'create database ziptech_test;' -U postgres
  - 'npm run build'
script:
  - 'npm run cover'
after_success:
  - 'npm run coveralls'
